* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
}




.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 10rem;
  background-color: transparent;
  border: 1px solid;
  border-radius: 50px;
  border-color: white;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: Roboto;
  &:hover {
    transition: 2s;
background-color: whitesmoke;
color: rgba(119, 0, 255, 0.8);
  }
}

.smallSubtitles {
  font-weight: normal;
}

.noStyleAnchor {
  text-decoration: none;
}
